@import url();

*{
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    scroll-behavior: smooth;
}
body {
    background-image: linear-gradient(#894E4A 1%, #0c0303 99%)
}
.logo {
    max-width: 70px;
    cursor: pointer;
}

.logo img {
    width: 100%;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo {
    font-size: 40px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
}
.navbar a {
    font-size: 20px;
    color: #f8f8f8;
    text-decoration: none;
    font-weight: 600;
    margin-left: 35px;
    transition: .3s;



}
.navbar a:hover {
    color: #f00000;
}


.home {
    height: 100vh;
    flex-direction: row-reverse;
    display: flex;
    align-items: center;
    display: flex;
    padding: 0 10%;
}

img{
    width: 400px;
    animation: float 3s ease-in-out infinite;
}

@keyframes float {
    0%, 100%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-25px);
    }
}

.home-content{
    max-width: 600px;
}
.home-content h1{
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
    color: #ededed;
}
.home-content h3{
    font-size: 32px;
    font-weight: 700;
    color: #bb0808;

}
.home-content p{
    font-size: 16px;
    margin: 20px 0 40px;
    color: #ededed;

}

.home-content .btn-box{
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;

}

.sec-sobremim{
    font-size: 20px;
    color: #ededed;
    margin-bottom: 20%;
}

.btn-box a{
    position: relative;
    box-shadow: 0 0 50px rgb(219, 4, 4),
    0 0 30px rgb(219, 4, 4);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background-color: #bb0808;
    border: 2px solid #bb0808;
    border-radius: 10px;
    color: #f1a5a5;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
}

.btn-box a:nth-child(2){
    background: #bb0808;
    color: #f1a5a5;
}


@media screen and (max-witdh: 1020px){
    .navbar a{
        display: none;
    }
    .home {
        flex-direction: column-reverse;
    }
}




